<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bankCode</key>
		<string>ICBC</string>
		<key>bankId</key>
		<string>3002</string>
		<key>bankName</key>
		<string>中国工商银行</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>CCB</string>
		<key>bankId</key>
		<string>3003</string>
		<key>bankName</key>
		<string>中国建设银行</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>BCOM</string>
		<key>bankId</key>
		<string>3020</string>
		<key>bankName</key>
		<string>中国交通银行</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>ABC</string>
		<key>bankId</key>
		<string>3005</string>
		<key>bankName</key>
		<string>中国农业银行</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>BOC</string>
		<key>bankId</key>
		<string>3026</string>
		<key>bankName</key>
		<string>中国银行</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>PSBC</string>
		<key>bankId</key>
		<string>3038</string>
		<key>bankName</key>
		<string>中国邮政储蓄银行</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>PAB</string>
		<key>bankId</key>
		<string>3035</string>
		<key>bankName</key>
		<string>平安银行</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>SPDB</string>
		<key>bankId</key>
		<string>3004</string>
		<key>bankName</key>
		<string>上海浦东发展银行</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>SHB</string>
		<key>bankId</key>
		<string>3059</string>
		<key>bankName</key>
		<string>上海银行</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>CIB</string>
		<key>bankId</key>
		<string>3009</string>
		<key>bankName</key>
		<string>兴业银行</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>CEB</string>
		<key>bankId</key>
		<string>3022</string>
		<key>bankName</key>
		<string>中国光大银行</string>
	</dict>
	<dict>
		<key>bankCode</key>
		<string>CITIC</string>
		<key>bankId</key>
		<string>3039</string>
		<key>bankName</key>
		<string>中信银行</string>
	</dict>
</array>
</plist>
